#                      Assignment (3) : Hypothesis Testing

### Example 1 : Cutlet

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [6]:
Example1 = pd.read_csv('Cutlets.csv')
Example1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [10]:
#mu1 = mean diameter of cutlet in Unit A
#mu2 = mean diameter of cutlet in Unit B
#Null Hypothesis - H0 : mu1 = mu2
#Alternate Hypothesis - H1 : mu1 /= mu2
A = Example1['Unit A']
B = Example1['Unit B']

In [11]:
A.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [12]:
B.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [13]:
#using 2 sample test
stats.ttest_ind(A,B)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [14]:
#p value = 0.472 > 0.05    5% signifiance level
#Accepting Null Hypothesis. There is no significant difference in the diameters of cutlets in Unit A & Unit B

### Example 2 : Hospital TAT

In [32]:
Example2 = pd.read_csv('LabTAT.csv')
Example2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [33]:
#null hypothesis- H0 : mean turn around time for all laboratories is same
#alternate hypothesis - H1 : mean turn around time is different for atleast one laboratory from others
a = Example2['Laboratory 1']
b = Example2['Laboratory 2']
c = Example2['Laboratory 3']
d = Example2['Laboratory 4']

In [38]:
#using ANNOVA test for more than 2 sample
stats.f_oneway(a,b,c,d)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [35]:
#p value 2.11 > 0.05    5% signifinace level. So accept H0
#Mean turn around time for all Laboratory is same

### Example 3 : Sales by Males & Females

In [2]:
Example3 = pd.read_csv('BuyerRatio.csv')
Example3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [46]:
#Null hypothesis - H0 : All the proportions are equal
#Alternate hypotheisis - H1 : At least one proportion is different

In [4]:
sales = pd.DataFrame([[50,142,131,70],[435,1523,1356,750]],index=["male","female"],columns=["east","west","north","south"])
sales

        east  west  north  south
male      50   142    131     70
female   435  1523   1356    750

In [5]:
#using Chi2 test for more than two proportions

from scipy import stats
result = stats.chi2_contingency(sales)
result

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [55]:
#p value = 0.66 > 0.05    5% signifiance level
#Accepting Null Hypothesis. So, all the proportions are equal

### Example 4 : Customer Order Form

In [61]:
Example4 = pd.read_csv('Costomer+OrderForm.csv')
Example4.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [59]:
#Null hypothesis - H0 : Every country has equal defective %
#Alternate hypotheisis - H1 : At least one country has different defective % from others

In [65]:
phi = Example4['Phillippines'].value_counts()
phi

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [66]:
indo = Example4['Indonesia'].value_counts()
indo

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [67]:
malta = Example4['Malta'].value_counts()
malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [68]:
ind = Example4['India'].value_counts()
ind

Error Free    280
Defective      20
Name: India, dtype: int64

In [73]:
DataStructure = pd.DataFrame([[271,267,269,280],[29,33,31,20]],index=["Error free","Defective"],columns=["Phillipines","Indonesia","Malta","India"])
DataStructure

            Phillipines  Indonesia  Malta  India
Error free          271        267    269    280
Defective            29         33     31     20

In [74]:
#using Chi2 test for more than two proportions

from scipy import stats
result = stats.chi2_contingency(DataStructure)
result

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
#p value = 0.27 > 0.05    5% signifiance level
#Accepting Null Hypothesis. So, every country has equal defective %